@model Phd.Models.Major

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Major</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MajorCypher" class="control-label"></label>
                <input asp-for="MajorCypher" class="form-control" />
                <span asp-validation-for="MajorCypher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MajorCypherName" class="control-label"></label>
                <input asp-for="MajorCypherName" class="form-control" />
                <span asp-validation-for="MajorCypherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MajorCypherNameKaz" class="control-label"></label>
                <input asp-for="MajorCypherNameKaz" class="form-control" />
                <span asp-validation-for="MajorCypherNameKaz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MajorCypherNameEng" class="control-label"></label>
                <input asp-for="MajorCypherNameEng" class="form-control" />
                <span asp-validation-for="MajorCypherNameEng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

